footer {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
  margin-top: 59px;
  width: 100%;
}

.footer__logo {
  background-image: url(../../../assets/logo.svg);
  background-size: cover;
  height: 201px;
  width: 201px;
}

.footer__info {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

a:hover {cursor: url(../../../assets/act.svg) 20 29, auto};

a {
  text-decoration:none;
  color: #EFF3F5;
  margin-left: 50px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: auto;
}

a:first-child {
  margin-left: 80px;
}

p {
  margin-left: 50px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  width: auto;
}


@media screen and (max-width: 1350px) {
  footer {
    margin: 0 auto;
  }
  .footer__logo {
    width: 120px;
    height: 120px;
  }

  a {
    margin-left: 20px;
  }

  a:first-child {
    margin-left: 20px;
    width: 140px;
  }

  p {
    margin-left: 20px;
  }
}

@media screen and (max-width: 820px) {
  a, p {
    font-size: 9px;
    margin-left: 20px;
    line-height: 10px;
  }

  a:first-child {
    width: 60px;
  }

  .footer__logo {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 620px) {
  .footer {
    max-width: 620px;
    width: 100%;
  }
}
