header {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
  width: 100%;
}

.logo {
  background-image: url(../../../assets/logo.svg);
  background-size: cover;
  height: 98px;
  width: 98px;
  margin-top: 2px;
}

.nav {
  margin-top: 41px;
  margin-left: 317px;
}

.btn {
  margin-left: 30px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.lang__cg {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.btn:first-child {
  margin-left: 0;
}

.lang {
  margin-top: 41px;
  margin-left: 395px;
}


.btn:hover {cursor: url(../../../assets/act.svg) 29 29, auto};

a:hover {cursor: url(../../../assets/act.svg) 29 29, auto};

a {
  text-decoration:none;
  color: #EFF3F5;
}

@media screen and (min-width: 1281px) {
  header {
    max-width: 1440px;
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  header {
    max-width: 1024px;
    width: 100%;
    margin-left: 15px;
  }
  .lang {
    margin-left: 220px;
  }
  .nav {
    margin-left: 160px;
  }
}

@media screen and (max-width: 1024px) {
  header {
    max-width: 900px;
    width: 100%;
  }
  .nav {
    margin-left: 100px;
  }
  .lang {
    margin-left: 140px;
  }
}
